@model List<SQUER.Workshop.LegacyApp.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "_Layout";
}
<br/><br/>
<table class="table table-responsive-lg table-striped">
    <thead>
    <tr class="table-secondary  text-center">
        <td colspan="8">Customers</td>
    </tr>
    <tr class="table-info">
        <td>ID</td>
        <td>Ssn</td>
        <td>Email</td>
        <td>Username</td>
        <td>Full Name</td>
        <td>Delivery Address</td>
        <td>Billing Address</td>
        <td>
            <a class="btn btn-link" asp-controller="Customers" asp-action="GetCustomerInfo">
                New Customer
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Customer_id</td>

            <td>@customer.Ssn</td>
            <td>@customer.Email</td>
            <td>@customer.User_name</td>
            <td>@customer.Full_name</td>
            <td>@customer.Delivery_address, @customer.Delivery_zipcode, @customer.Delivery_city</td>
            <td>
                @if (!string.IsNullOrWhiteSpace(customer.Billing_address))
                {
                    @customer.Billing_address<span>,</span>
                    @customer.Billing_zipcode<span>,</span>
                    @customer.Billing_city
                }
            </td>
            <td>
                <div class="btn-group btn-group-sm">

                    <a class="btn btn-sm btn-primary"
                       asp-controller="Customers" asp-action="GetCustomerInfo"
                       asp-route-customerId="@customer.Customer_id">
                        Edit
                    </a>

                    <a class="btn btn-sm btn-secondary"
                       asp-controller="Orders" asp-action="GetBuyTickets"
                       asp-route-customerId="@customer.Customer_id">
                        Orders
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
